<ng-container *ngIf="isFiltered()">
    <tr>
        <td class="row-selector">
            <input type="checkbox" id="select-item" [checked]="selected" (change)="toggleSelect($event.target.checked)">
        </td>
        <ng-container *ngFor="let header of tableHeaders">
            <td *ngIf="header.selector != 'status'" (click)="toggleDetailView(!detailView)">
                {{ getTableValue(header.name) }}
            </td>
        </ng-container>
        <td (click)="toggleDetailView(!detailView)">
            <img class="status-icon" [class.scanning]="scanning" type="image/svg+xml" [src]="icon" [alt]="iconAlt" [title]="iconAlt">
        </td>
    </tr>
    <tr class='detail-row'>
        <td [attr.colspan]="tableHeaders.length+1" class="detail-view">
            <div class="detail-content" [ngClass]="detailView ? 'expanded' : 'collapsed'">
                <div class="detail-column">
                    <div class="column-header">
                        <h4 class="detail-info-header">IP Address:</h4>
                    </div>
                    <div class="column-content">
                        <ul class="half-width-column">
                            <li *ngFor="let ip of ipCol1 | keyvalue">
                                <div title="{{ ip.value.vrf }}" class="content-keyvalue">
                                    <div class="content-key"><div [innerHTML]="portName(ip.value.interface) + ':' |  searchHighlight: filterString"></div></div>
                                    <div class="content-value" [innerHTML]="ip.key + (ip.value.vrf ? '*' : '') |  searchHighlight: filterString"></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="half-width-column" *ngIf="ipCol2">
                            <li *ngFor="let ip of ipCol2 | keyvalue">
                                <div title="{{ ip.value.vrf }}" class="content-keyvalue">
                                    <div class="content-key"><div [innerHTML]="portName(ip.value.interface) + ':' |  searchHighlight: filterString"></div></div>
                                    <div class="content-value" [innerHTML]="ip.key + (ip.value.vrf ? '*' : '') |  searchHighlight: filterString"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="detail-column">
                    <div class="column-content">
                        <ul>
                            <h4 class="detail-info-header">Model:</h4>
                            <li *ngFor="let model of entry.model"  [innerHTML]="model | searchHighlight: filterString"></li>
                            <h4 class="detail-info-header">Serial:</h4>
                            <li *ngFor="let serial of entry.serial" [innerHTML]="serial | searchHighlight: filterString"></li>
                        </ul>
                    </div>
                </div>
                <div class="detail-column">
                    <div class="column-content">
                        <ul>
                            <h4 class="detail-info-header">User Ports:</h4>
                            <li>{{ entry.users }}</li>
                            <h4 class="detail-info-header">MAC Address:</h4>
                            <li *ngFor="let mac of entry.base_mac" [innerHTML]="mac | searchHighlight: filterString"></li>
                            <h4 class="detail-info-header">Uptime:</h4>
                            <li>{{ entry.uptime }}</li>
                            <h4 class="detail-info-header">Last Updated:</h4>
                            <li>{{ updatedString }}</li>
                        </ul>
                    </div>
                </div>
                <div class="detail-column">
                    <div class="column-header">
                        <h4 class="detail-info-header">Neighboring Devices:</h4>
                    </div>
                    <div class="column-content">
                        <ul class="half-width-column">
                            <li *ngFor="let neighbor of neighborsCol1 | keyvalue">
                                <div class="content-keyvalue">
                                    <div class="content-key"><div [innerHTML]="portName(neighbor.key) + ':' | searchHighlight: filterString"></div></div>
                                    <div class="content-value" [innerHTML]="neighbor.value.distant_host | searchHighlight: filterString"></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="half-width-column" *ngIf="neighborsCol2">
                            <li *ngFor="let neighbor of neighborsCol2 | keyvalue">
                                <div class="content-keyvalue">
                                    <div class="content-key"><div [innerHTML]="portName(neighbor.key) + ':' | searchHighlight: filterString"></div></div>
                                    <div class="content-value" [innerHTML]="neighbor.value.distant_host | searchHighlight: filterString"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</ng-container>